<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Batterie deposit configuration</title>
        <title lang="de-DE">Batteriepfand Konfiguration</title>

        <input-field type="float">
            <name>depositAmount</name>
            <label>Deposit amount</label>
            <label lang="de-DE">Batteriepfandbetrag</label>
            <defaultValue>7.5</defaultValue>
        </input-field>
    </card>
</config>
